/* Header.css */
.header {
  background-color: rgba(128, 128, 128, 0.8); /* Light gray color */
  padding: 10px;
  text-align: center;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header nav ul li {
  margin: 0 15px;
  font-size: 18px;
}

.header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header h1 {
  font-size: 32px;
  margin-top: 20px;
}
