@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Dongle-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Dongle-Light.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;

$color-1: #546fe4;
$color-2: url(../assets/image/j.jpeg);
$color-3: rgba(128, 128, 128, 0.863);
$black: #060d2c;
$white: rgb(238, 238, 238);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}


body {
  background: $color-2;
  color: $white;
  margin: 0;
  padding: 0;
  font-family: $font-1;
  min-height: 100vh;
  display: flex; /* Permet de créer une disposition flexbox */
  flex-direction: column; /* Dispose les éléments verticalement */
}

.app-container {
  display: flex;
  flex-direction: column; /* Colonne pour Header, main, Footer */
  min-height: 100vh; /* Assure que le conteneur prend toute la hauteur de la page */
}

main {
  flex: 1; /* Prend tout l'espace disponible entre le Header et le Footer */
  padding: 20px; /* Optionnel : ajoute un peu d'espace autour du contenu */
}

footer {
  background: $black; /* Exemple de style pour le footer */
  padding: 10px;
  text-align: center;
}
